.favDelete {
    display: flex;
}

.favs {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 30px;
    text-align: center;
}

button {
    margin-left: 30px;
}

#link {
    margin-bottom: 30px;
}

.favItems {
    /* margin-bottom: 30px; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 8%;
}

iframe{
    border-radius: 8%;
}

p{
    text-align: center;
}