  
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
    border-radius: 0%;
    height: 10%;
}

#home-button{
    text-align: center;
    padding-top: 10px;
    margin: 50px;
    font-family: sutro,serif;
    font-weight: 300;
    font-style: normal; 
    text-decoration: none;

}

#pitmaster{
    text-align: center;
    padding-top: 10px;
    margin: 30px;
    font-family: sutro,serif;
    font-weight: 300;
    font-style: normal; 
    text-decoration: none;
}

.pitmaster{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;
    margin: 50px;
    font-family: sutro,serif;
    font-weight: 300;
    font-style: normal; 
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

.pitmaster img{
    border:5px solid #ec9378;
    border-radius: 50%;
    width:150px;
    height:150px;
    margin: 40px;
    margin-top: 10px;
}

.picks{
    font-family: sutro,serif;
    text-align:center;
}

#recipePick{
    margin-bottom: 50px;
}

#moviePick{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    margin: 20px;
    border-radius: 8%;
}

button{
    margin: 20px;
}

iframe{
    border-radius: 8%;
}

h4{
    margin-top: 50px;
}

.favoriteLabel{
    display: flex;
    justify-content: center;
}




@media screen and (max-width: 600px) {
    #home-button{
        text-align: center;
        padding-top: 10px;
        margin: 50px;
        font-family: sutro,serif;
        font-weight: 300;
        font-style: normal; 
        text-decoration: none;
    }

    #pitmaster{
        text-align: center;
        padding: 50px;
        margin: 50px;
        font-family: sutro,serif;
        font-weight: 300;
        font-style: normal; 
        text-decoration: none;
    }

    .pitmaster{
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 50px;
        font-family: sutro,serif;
        font-weight: 300;
        font-style: normal; 
        text-decoration: none;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center;
    }

    .pitmaster img{
        border:5px solid #ec9378;
        border-radius: 50%;
        width:150px;
        height:150px;
        margin: 10px;
        margin-bottom: 50px;
    }

    .picks{
        font-family: sutro,serif;
        text-align:center;
    }

    img{
        margin: 20px;
    }
    
    button{
        margin: 20px;
    }

    iframe{
        border-radius: 8%;
    }

    h4{
        margin-bottom: 20px;
    }

    .favoriteLabel{
        display: flex;
    }

}

