#favorite-button{
    font-family: sutro,serif;
    font-weight: 300;
    font-style: normal; 
    text-decoration: none;
    font-family: sutro,serif;
}

.quizResults {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sutro,serif;
}

.addFavorite {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 30px;
    font-family: sutro,serif;
}

button {
    margin-left: 30px;
}

#link {
    margin-bottom: 30px;
}

img{
    border-radius: 8%;
}

iframe{
    border-radius: 8%;
}

p{
    width: 80%;
    font-family: sutro,serif;
}

body {
    text-align: center;
}

.recipe-label{
    text-align: center;
}

.resultsDisplay{
    text-align: center;
}

